[user]
	name = Byron Dover
	email = byron.dover@gmail.com
	username = byrondover
[core]
	editor = vim
	pager = diff-so-fancy | less --tabs=4 -RFX
[color]
	ui = true
[init]
	defaultBranch = main
[pull]
	rebase = true
[lfs "customtransfer.xet"]
	path = git-xet
	args = transfer
	concurrent = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
